@inject HttpClient Http
@using MTG_Decks.Shared.Model;

<select>
    @if (DropDownContent != null)
    {
        @foreach (var item in DropDownContent)
        {
            <option>@item</option>
        }
    }
</select>

@code {
    [Parameter]
    public string url { get; set; }
    public List<string> DropDownContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    public async Task GetData()
    {
        AutocompleteResponse response = await Http.GetFromJsonAsync<AutocompleteResponse>(url);
        DropDownContent = response.Data;
    }
}
