@inject HttpClient Http
@using MTG_Decks.Shared.Model;

<div class="filter-container">
	<div class="filter">
		<div class="filterRow">
			<a href="#"><img src="images/black.png" /></a>
			<a href="#"><img src="images/white.png" /></a>
			<a href="#"><img src="images/blue.png" /></a>
			<a href="#"><img src="images/green.png" /></a>
			<a href="#"><img src="images/red.png" /></a>
			<a href="#"><img src="images/colorLess.png" /></a>

			<Search></Search>

			<DropDown url="https://api.scryfall.com/catalog/creature-types"></DropDown>
			@*<DropDown></DropDown>
				<DropDown></DropDown>*@
		</div>
		<div class="filterRow">
			@*<DropDown></DropDown>
				<DropDown></DropDown>
				<DropDown></DropDown>
				<DropDown></DropDown>
				<DropDown></DropDown>
				<DropDown></DropDown>
				<DropDown></DropDown>*@
		</div>
	</div>
</div>

@code {
	

}